<mat-toolbar color="primary">Github Profile Viewer</mat-toolbar>
<div class="card">

  <form class="example-form" [formGroup]="searchForm">
    <mat-form-field class="example-width">

      <input matInput placeholder="Github Username" formControlName="searchName">
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" (click)="onSubmit()">Find me</button>
  </form>

  <mat-spinner *ngIf="dataLoading"></mat-spinner>
  <mat-card class="example-card" *ngIf="data">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{name}}</mat-card-title>
      <mat-card-subtitle>{{location}}</mat-card-subtitle>
    </mat-card-header>
    <a href="{{link}}" target="_blank">Github Profile</a>
    <img mat-card-image src={{img}}>
  </mat-card>

  <mat-toolbar *ngIf="noDataFound">noDataFound</mat-toolbar>
</div>